html{
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    background-color: #EDE6D9;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

body::-webkit-scrollbar {
    display: none;
}

body section{
    scroll-snap-align: start;
}


svg.arrow{
    width:100%;
    height:100%;
}


.sidebar {
    position: fixed;
    top: 0;
    left:0px;
    width: 10.4vw;
    height: 100vh;
    background: #E1DCD1;
}
.sidebar-line-1,.sidebar-line-2, .sidebar-line-3, .sidebar-line-4{
    height:10vh;
    width:0.2vw;
    position:absolute;
    left:45%;
    border-radius:0.1vw;
    transition: all 1s;
    transform-origin: 50% 50%;
}
.sidebar-line-1:hover{
    transform: scale(1.2);
}
.sidebar-line-2:hover{
    transform: scale(1.2);
}
.sidebar-line-3:hover{
    transform: scale(1.2);
}
.sidebar-line-4:hover{
    transform: scale(1.2);
}

.sidebar-line-1{
    top:20%;
    background: #0A2239;
}
.sidebar-line-2{
    top:35%;
    background:#176087;
}
.sidebar-line-3{
    top:50%;
    background: #1D84B5;
}
.sidebar-line-4{
    top:65%;
    background: #53A2BE;
}
a.info{
    position: absolute;
    top:77%;
    left: 38.5%;
    cursor:pointer;
}
div#credit-text{
    position:absolute;
    display: flex;
    align-items: center;
    text-align:right;
    top:77%;
    width:160%;
    left:57%;
    font-family: 'Roboto Mono', 'monospace';
    font-size:1.7vh;
    font-weight: lighter;
    border-style:solid;
    border-width: 0.157vw;
    border-radius:6vw;
    border-color: #53A2BE;
    height:3vh;
    visibility: hidden;
}
div#credit-text p{
    position:relative;
    text-align:center;
    color:#53A2BE;
}
div#credit-text a{
    position:relative;
    text-decoration: none;
    color:#53A2BE;
}
.pad-right{
    margin-left:0.6vw;
}
.info:hover + #credit-text{
    visibility: visible;
}
#credit-text:hover{
    visibility: visible;
}
.sidebar-text{
    font-size:1.35vw;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-family: 'Roboto', 'sans-serif';
    color:#fff;
    position: absolute;
    top:86%;
    left:25%;

}
.narwhal{
    position: absolute;
    top:5%;
    left: 6%;
    transition: all 1s;
    transform-origin: 50% 50%;
}
.narwhal:hover{
    filter: drop-shadow(5px 5px 5px #4d483f);
}


.navbar {
    position: relative;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.navbar li{
    float: left;
    list-style: none;
    
}
.navbar form{
    background: #E1DCD1;
    border-radius:3vh;
    height:5.5vh;  
    display:inline-flex;

}
.navbar a{
    padding: 2.4vh 1vw 2.4vh 1vw;
    margin-left: 14vw;
    font-family: 'Roboto Mono', 'monospace';
    font-size:normal;
    color: #53A2BE;
    text-decoration: none;
}
.navbar a:hover{
    font-weight: 60px;
    transform: scale(1.2);
}


.scroll-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto; /* center horizontally */
}

.scroll-text {
    position: absolute;
    color: transparent;
    -webkit-text-stroke: 1px #176087;
    letter-spacing: 2px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', 'sans-serif';
    font-style: italic;
    font-weight: bolder;
    font-size: 4.5vw;
    top: 35%;
    left: 20.5%;
    margin: 0 auto;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    -webkit-transform: scale(-1, -1);
}

.scroll-arrow {
  align-items: center;
  position:absolute;
  width: 5vw;
  height: 10vh;
  top: 65%;
  left: 21%;
  opacity: 0;
    --delay: 2s;
    animation-delay: --delay;
    animation-name: cascade;
    animation-duration: 0.85s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-direction: alternate;
}
  
  @keyframes scroll-container {
    0%,40%,100% {
        transform: translateY(0)
      }
      20% {
        transform: translateY(-20px)
      }
  }

.tagline-wrapper{
    position:absolute;
    top:40%;
    left:28%;
    display:flex;
}
.tagline-line {
    align-self: center;
    height: 0.43vh;
    width: 7.8vw;
    margin-right: 1.7vh;
    background: #0A2239;
}
.main-tagline{
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.85vw;
    font-weight:90px;
    color:#0A2239;
}
.main-title {
    position: absolute;
    margin-left: -2px;
    top: 55%;
    left: 28%;
    font-family:'Roboto Mono', 'monospace';
    line-height: 18vh;
    letter-spacing: -6px;
    font-style:italic;
    font-size: 9vw;
    font-weight:bolder;
    color:#53A2BE;
}


.accent{
    color:#1D84B5;
}
.accent-l{
    color:#53A2BE;
}
.small-t{
    color:#0A2239;
}

.about{
    margin:auto;
}
.about-header{
    position: absolute;
    font-family: 'Roboto', 'sans-serif'; 
    left:13%;
    font-size: 4.2vw;
    letter-spacing: 0.5vw;
    margin-bottom: 0;
}
.title{
    margin: auto;
    text-align:center;
    color:#176087;
}
.unshaded{
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #1D84B5;
  font-family: 'Roboto Mono', 'monospace';
}


div.bg-a {
    width: 90vw;
    height: 85.3vh;
    position:absolute;
    background-color:#E1DCD1;
    top:125.6%;
    left:10%;
    padding:2.8vh 1.3vw 2.8vh 1.3vw;
    box-sizing:border-box;
    margin-top:0;
}
.text-a{
    position: absolute;
    font-family:'Roboto Mono', 'monospace';
    color:#53A2BE;
    line-height:5.2vh;
    left:10%;
    width: 71.6vw;
    font-size:3.9vh;
    font-weight:bold;
}
.recent-header{
    position:absolute;
    left:14%;
}
.header-r{
    font-family:'Roboto', 'sans-serif';
    font-size: 5.2vw;
    font-weight:bolder;
    background: -webkit-linear-gradient(180deg, #1D84B5, #176087);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
div.bg-ds{
    position: absolute;
    width: 32.6vw;
    left:180%;
    top:20%;
    height: 40vh;
    position:absolute;
    background-color:#E1DCD1;
    padding:2.8vh 1.3vw 2.8vh 1.3vw;
    box-sizing:border-box;
}
div.bg-sc{
    position: absolute;
    width: 32.6vw;
    left:180%;
    top:170%;
    height: 40vh;
    position:absolute;
    background-color:#E1DCD1;
    padding:2.8vh 1.3vw 2.8vh 1.3vw;
    box-sizing:border-box;
}
.title-ds, .title-sc{
    text-align:center;
    font-family:'Roboto Mono', 'monospace';
    font-size:3.3vh;
    color:#1D84B5;
}
.description-r, .commentary-r{
    font-family:'Roboto', 'sans-serif';
    text-align:center;
    font-size:2.2vh;
    color:#0A2239;
    font-weight:bold;
}
.game-d-r{
    position: absolute;
    font-family:'Roboto', 'sans-serif';
    font-size:2.5vh;
    width:44.3vw;
    color:#1D84B5;
    font-weight:bold;
    top:88%;
}
.bg-pc{
    position:absolute;
    width: 44.2vw;
    top:166%;
    height: 40vh;
    position:absolute;
    background-color:#E1DCD1;
    padding:2.8vh 1.3vw 2.8vh 1.3vw;
    box-sizing:border-box;
}
.title-n-r{
    position: absolute;
    width:55.3vw;
    top:-5%;
    text-align:center;
    font-family:'Roboto Mono', 'monospace';
    font-size: 4vh;
    color:#176087;

}
img.robot{
    position: relative;
    left:5%;
    width:30%;
    height:30%;
}
.bg-t-r{
    position:absolute;
    border-radius: 25px;
    right:30%;
    top:18%;
    background: #0A2239;
    width:fit-content;
}
.t-ei{
    padding:1.1vh 0.7vw 1.1vh 0.7vw;
    font-family:'Roboto Mono', 'monospace';
    color:#EDE6D9;
    font-size:2vh;
}
.regs-r{
    position: absolute;
    left:50%;
    top:50%;
    display:flex;
    flex-wrap:wrap;
}
#text-t,#match-n,#reg-l{
    margin-left: 2px;
    margin-right: 2px;
    font-family: 'Roboto Mono', 'monospace';
    font-size: 1vw;
}
.left{
    position:absolute;
    border: transparent;
    background-color: transparent;
    left:1%;
    top:50%;
    cursor:pointer;
}
.right{
    position: absolute;
    border:transparent;
    background-color: transparent;
    right:1%;
    top:50%;
    cursor:pointer;
}


.pg-title{
    position:absolute;
    font-size: 9vh;
    top:215%;
    left:13%;
    display:flex;
    font-family:'Roboto Mono', 'monospace';
    color:#53A2BE;
}
.shaded{
    background-color: #53A2BE;
    color:#EDE6D9;
    transform:skew(-10deg);
}
.pg-recent{
    position:absolute;
    left:15%;
    top:235%;
    display:flex;
    font-family: 'Roboto Mono', 'monospace';
    align-items: center;
}
#past-game a{
    text-decoration:none;    
}
.game-name{
    color: #53A2BE;
    font-style:italic;
    font-weight:bolder;
    font-size:2.4vw;
    background: linear-gradient(to top, #E1DCD1 50%, transparent 50%);
    margin-right:2vw;
}
.pg-tip{
    display:flex;
}
.lightbulb-circle{
    height:3.8vh;
    align-self: center;
}
.pg-tip-text{
    border-style:solid;
    border-width: 0.15vw;
    border-radius:6vw;
    border-color: #1D84B5;
    font-weight:bold;
    color:#1D84B5;
    height:3.5vh;
    font-size:1.7vh;
    width:27.2vw;
}
.pad{
    position:absolute;
    padding:0vh 0.9vw 0vh 0.9vw;
    top:6%;
}
div#games-list{
    position:absolute;
    top:245%;
    left:15%;
    display: flex;
}
.col{
    float:left;
    font-family:'Roboto Mono', 'monospace';
    color:#53A2BE;
    font-weight:bold;
    font-style:italic;
    font-size:1.5vw;
}
.col li{
    margin:10vh 0vw;
    cursor: pointer;
}
.col ul{
    margin-right:3.5vw;
}
.game-desc{
    /* position:absolute; */
    left:14%;
}
.game-desc h2{
    position: absolute;
    font-family:'Roboto', 'sans-serif';
    font-size: 11vh;
    font-weight:bolder;
    background: -webkit-linear-gradient(180deg, #1D84B5, #176087);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  font-style: italic;
  left:14%;
  top:213%;
}

.done-writing:after {
    content: "_";
    animation: blinking 1s infinite;
    font-family:'Roboto', 'sans-serif';
    font-size: 11vh;
    font-weight:bolder;
    background: -webkit-linear-gradient(180deg, #1D84B5, #176087);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    font-style: italic;
  }
  
  @keyframes blinking {
      0% {opacity: 1;}
      50% {opacity: 0;}
  }

.game-desc p{
    position: absolute;
    font-family:'Roboto', 'sans-serif';
    font-size:2.5vh;
    width:44.3vw;
    color:#1D84B5;
    font-weight:bold;
    top:237%;
    left:14%;
}
.bg-rob-desc{
    position: absolute;
    width: 32.6vw;
    left:64.6%;
    top:220%;
    height: 40vh;
    position:absolute;
    background-color:#E1DCD1;
    padding:2.8vh 1.3vw 2.8vh 1.3vw;
    box-sizing:border-box;
}
.bg-rob-desc h2, .bg-com h2{
    text-align:center;
    font-family:'Roboto Mono', 'monospace';
    font-size:3.3vh;
    color:#1D84B5;
}
button#back{
    position:absolute;
    color:#53A2BE;
    font-family: 'Roboto', 'sans-serif';
    font-style: italic;
    font-size:2.2vh;
    top:214%;
    left:14%;
    display: flex;
    align-items: center;
    background-color: transparent;
    border-color: transparent;
    cursor:pointer;
}
div#back text{
    margin-left:1vw;
}
.bg-com{
    position: absolute;
    width: 32.6vw;
    left:64.6%;
    top:265%;
    height: 40vh;
    position:absolute;
    background-color:#E1DCD1;
    padding:2.8vh 1.3vw 2.8vh 1.3vw;
    box-sizing:border-box;
}
h2#title-pic{
    position: absolute;
    width:55.3vw;
    top:-5%;
    text-align:center;
    font-family:'Roboto Mono', 'monospace';
    font-size: 2vw;
    color:#176087;
}
.bg-rob-desc p, .bg-com p{
    font-family:'Roboto', 'sans-serif';
    text-align:center;
    font-size:2.2vh;
    color:#0A2239;
    font-weight:bold;
}
.bg-pic{
    position:absolute;
    width: 44.2vw;
    top:265%;
    left:14%;
    height: 40vh;
    position:absolute;
    background-color:#E1DCD1;
    padding:2.8vh 1.3vw 2.8vh 1.3vw;
    box-sizing:border-box;
}
.regs{
    position: absolute;
    left:45%;
    top:50%;
    display:flex;
    flex-wrap:wrap;
}
div#images{
    position:absolute;
    align-items: center;
}
img#r-image{
    position: absolute;
    left:2vw;
    width:15vw;
    height:auto;
}



.c-title{
    left:22%;
    right:0;
    top:423%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 50%;
    font-family:'Roboto', 'sans-serif';
    font-size:7vw;
    font-weight:bolder;
    background-color: #0A2239;
    background-image: linear-gradient( 45deg, #0A2239 16.666%, #176087 16.666%, #176087 33.333%, #1D84B5 33.333%, #1D84B5 50%, #53A2BE  50%, #53A2BE  66.666%, #1D84B5 66.666%, #1D84B5 83.333%, #176087 83.333%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
} 
.c-title:hover{
      animation: rainbow-text-simple-animation 0.5s ease-in forwards;
} 
@keyframes rainbow-text-simple-animation-rev {
      0% {
          background-size: 650%;
      }
      40% {
          background-size: 650%;
      }
      100% {
          background-size: 100%;
      }
}
@keyframes rainbow-text-simple-animation {
      0% {
          background-size: 100%;
      }
      80% {
          background-size: 650%;
      }
      100% {
          background-size: 650%;
      }
}
.message{
    font-family:'Roboto', 'sans-serif';
    color:#53A2BE;
    font-size: 3vh;
    position:absolute;
    font-style:italic;
    top:445%;
    width:60%;
    left:25%;
    font-weight:bold;
}
.c-form form{
    position:absolute;
    left:25%;
    top:460%;
    height:30vh;
    width:60vw;
}
.c-form textarea{
    color:#0A2239;
    outline:none;
    font-family:'Roboto', 'sans-serif';
    font-size:2vh;
    background:#E1DCD1;
    border:transparent;
    resize:none;    
}
#c-name{
    position:absolute;
    height:7vh;
    width:15vw;
}
#c-email{
    position:absolute;
    height:7vh;
    width:15vw;
    top:50%;
}
#c-subject{
    position:absolute;
    height:7vh;
    width:15vw;
    top:100%;
}
#c-body{
    position:absolute;
    height:40vh;
    width:40vw;
    left:30%;
}








  
/* #0A2239 #176087 #1D84B5 #53A2BE #E1DCD1 #EDE6D9 */