body{
    background-color: #EDE6D9;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none;
}

svg.arrow{
    width:100%;
    height:100%;
}

.sidebar {
    position: fixed;
    top: 0;
    left:0px;
    width: 10.4vw;
    height: 100vh;
    background: #E1DCD1;
}
.sidebar-line-1,.sidebar-line-2, .sidebar-line-3, .sidebar-line-4{
    height:10vh;
    width:0.2vw;
    position:absolute;
    left:45%;
    border-radius:0.1vw;
}
.sidebar-line-1{
    top:20%;
    background: #0A2239;
}
.sidebar-line-2{
    top:35%;
    background:#176087;
}
.sidebar-line-3{
    top:50%;
    background: #1D84B5;
}
.sidebar-line-4{
    top:65%;
    background: #53A2BE;
}
.sidebar-text{
    font-size:3vh;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-family: 'Roboto', 'sans-serif';
    color:#fff;
    position: absolute;
    top:83%;
    left:25%;

}
.narwhal{
    position: absolute;
    top:5%;
    left: 6%;
}

.navbar {
    position: relative;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.navbar li{
    float: left;
    list-style: none;
    
}
.navbar form{
    background: #E1DCD1;
    border-radius:3vh;
    height:5.5vh;  
    display:inline-flex;

}
.s-icon{
    stroke:#53A2BE;
    stroke-width: 0.1vw;
    align-self: center;
    margin-left:0.7vw;
    padding:0.2vw;
    display:inline-flex;
}
.navbar input{
    background: #E1DCD1;
    outline:transparent;
    border:transparent;
    margin-left:0.5vw;
    border-radius:3vh;
    font-family:'Roboto', 'sans-serif';
    font-size:2vh;
    font-style:italic;
    
}
.navbar a{
    padding: 2.4vh 1vw 2.4vh 1vw;
    margin-left: 9vw;
    font-family: 'Roboto Mono', 'monospace';
    font-size:normal;
    color: #53A2BE;
    text-decoration: none;
}
.navbar a:hover{
    font-weight: 60px;
}

.scroll-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto; /* center horizontally */
}
.scroll-text {
    position: absolute;
    color: transparent;
    -webkit-text-stroke: 1px #176087;
    letter-spacing: 2px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', 'sans-serif';
    font-style: italic;
    font-weight: bolder;
    font-size: 4.6vw;
    top: 45%;
    left: 17%;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin: 0 auto;
    transition: all .3s ease-in-out 0s;
    
}
.scroll-arrow {
  align-items: center;
  position:absolute;
  width: 5vw;
  height: 10vh;
  top: 65%;
  left: 21%;
}
/* .scroll-container :hover{
    transform: translateY(50%);
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: calc(0.055s);
} */

.tagline-wrapper{
    position:absolute;
    top:40%;
    left:28%;
    display:flex;
}
.tagline-line {
    align-self: center;
    height: 0.42vh;
    width: 7.8vw;
    margin-right: 1.7vh;
    background: #0A2239;
}
.main-tagline{
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.9vw;
    font-weight:90px;
    color:#0A2239;
}

.main-title {
    position: absolute;
    margin-left: -2px;
    top: 55%;
    left: 28%;
}
.main-title {
    font-family:'Roboto Mono', 'monospace';
    line-height: 18vh;
    letter-spacing: -6px;
    font-style:italic;
    font-size: 9.15vw;
    font-weight:bolder;
    color:#53A2BE;
}

.accent{
    color:#1D84B5;
}
.accent-l{
    color:#53A2BE;
}
.small-t{
    color:#0A2239;
}

.about{
    margin:auto;
}
.about-header{
    position: absolute;
    font-family: 'Roboto', 'sans-serif'; 
    left:13%;
    font-size: 4.23vw;
    letter-spacing: 0.5rem;
}
.title{
    margin: auto;
    text-align:center;
    color:#176087;
}
.unshaded{
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #1D84B5;
  font-family: 'Roboto Mono', 'monospace';
}

div.bg-a {
    width: 90vw;
    height: 85.3vh;
    position:absolute;
    background-color:#E1DCD1;
    top:125.6%;
    left:10%;
    padding:2.8vh 1.3vw 2.8vh 1.3vw;
    box-sizing:border-box;
}
.text-a{
    position: absolute;
    font-family:'Roboto Mono', 'monospace';
    color:#53A2BE;
    line-height:2.5rem;
    left:10%;
    width: 71.6vw;
    font-size:3.7vh;
    font-weight:bold;
}
.recent-header{
    position:absolute;
    left:14%;
}
.header-r{
    font-family:'Roboto', 'sans-serif';
    font-size: 5.2vw;
    font-weight:bolder;
    background: -webkit-linear-gradient(180deg, #1D84B5, #176087);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
div.bg-ds{
    position: absolute;
    width: 32.6vw;
    left:180%;
    top:20%;
    height: 40vh;
    position:absolute;
    background-color:#E1DCD1;
    padding:2.8vh 1.3vw 2.8vh 1.3vw;
    box-sizing:border-box;
}
div.bg-sc{
    position: absolute;
    width: 32.6vw;
    left:180%;
    top:170%;
    height: 40vh;
    position:absolute;
    background-color:#E1DCD1;
    padding:2.8vh 1.3vw 2.8vh 1.3vw;
    box-sizing:border-box;
}
.title-ds, .title-sc{
    text-align:center;
    font-family:'Roboto Mono', 'monospace';
    font-size:1.6vw;
    color:#1D84B5;
}
.description-r, .commentary-r{
    font-family:'Roboto', 'sans-serif';
    text-align:center;
    font-size:1.15vw;
    color:#0A2239;
    font-weight:bold;
}
.game-d-r{
    position: absolute;
    font-family:'Roboto', 'sans-serif';
    font-size:1.15vw;
    width:44.3vw;
    color:#1D84B5;
    font-weight:bold;
    top:88%;
}
.bg-pc{
    position:absolute;
    width: 44.2vw;
    top:166%;
    height: 40vh;
    position:absolute;
    background-color:#E1DCD1;
    padding:2.8vh 1.3vw 2.8vh 1.3vw;
    box-sizing:border-box;
}
.title-n-r{
    position: absolute;
    width:55.3vw;
    top:-5%;
    text-align:center;
    font-family:'Roboto Mono', 'monospace';
    font-size: 2vw;
    color:#176087;

}
img.robot{
    position: relative;
    left:5%;
    width:30%;
    height:30%;
}
.bg-t-r{
    position:absolute;
    border-radius: 25px;
    right:30%;
    top:17%;
    background: #0A2239;
    width:fit-content;
}
.t-ei{
    padding:1.1vh 0.7vw 1.1vh 0.7vw;
    font-family:'Roboto Mono', 'monospace';
    color:#EDE6D9;
    font-size:1vw;
}
.regs-r{
    position: absolute;
    left:50%;
    top:50%;
    display:flex;
    flex-wrap:wrap;
}
#text-t,#match-n,#reg-l{
    margin-left: 2px;
    margin-right: 2px;
    font-family: 'Roboto Mono', 'monospace';
}
.left{
    position:absolute;
    border: transparent;
    background-color: transparent;
    left:1%;
    top:50%;
}
.right{
    position: absolute;
    border:transparent;
    background-color: transparent;
    right:1%;
    top:50%;
}
.pg-title{
    position:absolute;
    font-size: 9vh;
    top:215%;
    left:13%;
    display:flex;
    font-family:'Roboto Mono', 'monospace';
    color:#53A2BE;
}
.shaded{
    background-color: #53A2BE;
    color:#EDE6D9;
    transform:skew(-10deg);
}

.pg-recent{
    position:absolute;
    left:15%;
    top:235%;
    display:flex;
    font-family: 'Roboto Mono', 'monospace';
    align-items: center;
}
#past-game a{
    text-decoration:none;
    
}
.game-name{
    color: #53A2BE;
    font-style:italic;
    font-weight:bolder;
    font-size:5vh;
    background: linear-gradient(to top, #E1DCD1 50%, transparent 50%);
    margin-right:2vw;
}
.pg-tip{
    display:flex;
}
.lightbulb-circle{
    height:3.8vh;
    align-self: center;
}
.pg-tip-text{
    border-style:solid;
    border-width: 0.15vw;
    border-radius:6vw;
    border-color: #1D84B5;
    height:3.5vh;
    font-size:0.8vw;
    width:27.2vw;
}
.pad{
    position:absolute;
    padding:0vh 0.9vw 0vh 0.9vw;
    top:6%;
    font-weight:bold;
    color:#1D84B5;
}
div#games-list{
    position:absolute;
    top:245%;
    left:15%;
    display: flex;
}
.col{
    float:left;
    font-family:'Roboto Mono', 'monospace';
    color:#53A2BE;
    font-weight:bold;
    font-style:italic;
    font-size:1.5vw;
}
.col li{
    margin:10vh 0vw;
}
.col ul{
    margin-right:3.5vw;
}
.game-desc{
    /* position:absolute; */
    left:14%;
}
.game-desc h2{
    position: absolute;
    font-family:'Roboto', 'sans-serif';
    font-size: 5.2vw;
    font-weight:bolder;
    background: -webkit-linear-gradient(180deg, #1D84B5, #176087);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  font-style: italic;
  left:14%;
}
.game-desc p{
    position: absolute;
    font-family:'Roboto', 'sans-serif';
    font-size:1.15vw;
    width:44.3vw;
    color:#1D84B5;
    font-weight:bold;
    top:237%;
    left:14%;
}
.bg-rob-desc{
    position: absolute;
    width: 32.6vw;
    left:64.6%;
    top:220%;
    height: 40vh;
    position:absolute;
    background-color:#E1DCD1;
    padding:2.8vh 1.3vw 2.8vh 1.3vw;
    box-sizing:border-box;
}
.bg-rob-desc h2, .bg-com h2{
    text-align:center;
    font-family:'Roboto Mono', 'monospace';
    font-size:1.6vw;
    color:#1D84B5;
}
button#back{
    position:absolute;
    color:#53A2BE;
    font-family: 'Roboto', 'sans-serif';
    font-style: italic;
    font-size:2.4vh;
    top:214%;
    left:14%;
    display: flex;
    align-items: center;
    background-color: transparent;
    border-color: transparent;
}
div#back text{
    margin-left:1vw;
}
.bg-com{
    position: absolute;
    width: 32.6vw;
    left:64.6%;
    top:270%;
    height: 40vh;
    position:absolute;
    background-color:#E1DCD1;
    padding:2.8vh 1.3vw 2.8vh 1.3vw;
    box-sizing:border-box;
}
h2#title-pic{
    position: absolute;
    width:55.3vw;
    top:-5%;
    text-align:center;
    font-family:'Roboto Mono', 'monospace';
    font-size: 2vw;
    color:#176087;
}
.bg-rob-desc p, .bg-com p{
    font-family:'Roboto', 'sans-serif';
    text-align:center;
    font-size:2.2vh;
    color:#0A2239;
    font-weight:bold;
}
.bg-pic{
    position:absolute;
    width: 44.2vw;
    top:270%;
    left:14%;
    height: 40vh;
    position:absolute;
    background-color:#E1DCD1;
    padding:2.8vh 1.3vw 2.8vh 1.3vw;
    box-sizing:border-box;
}
.regs{
    position: absolute;
    left:50%;
    top:50%;
    display:flex;
    flex-wrap:wrap;
}
div#images{
    position:absolute;
    align-items: center;
}
img#r-image{
    position: absolute;
    left:2vw;
    width:15vw;
    height:auto;
}



.c-title{
    font-family:'Roboto', 'sans-serif';
    font-size:15vh;
    font-weight:bolder;
    position:absolute;
    left:36%;
    top:423%;
    background-color: #0A2239;
    background-image: linear-gradient( 45deg, #0A2239 16.666%, #176087 16.666%, #176087 33.333%, #1D84B5 33.333%, #1D84B5 50%, #53A2BE  50%, #53A2BE  66.666%, #1D84B5 66.666%, #1D84B5 83.333%, #176087 83.333%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
} 
.c-title:hover{
      animation: rainbow-text-simple-animation 0.5s ease-in forwards;
} 
@keyframes rainbow-text-simple-animation-rev {
      0% {
          background-size: 650%;
      }
      40% {
          background-size: 650%;
      }
      100% {
          background-size: 100%;
      }
}
@keyframes rainbow-text-simple-animation {
      0% {
          background-size: 100%;
      }
      80% {
          background-size: 650%;
      }
      100% {
          background-size: 650%;
      }
}
.message{
    font-family:'Roboto', 'sans-serif';
    color:#53A2BE;
    font-size: 3vh;
    position:absolute;
    font-style:italic;
    top:445%;
    width:60%;
    left:25%;
    font-weight:bold;
}
.c-form form{
    position:absolute;
    left:25%;
    top:460%;
    height:30vh;
    width:60vw;
}
.c-form textarea{
    color:#0A2239;
    outline:none;
    font-family:'Roboto', 'sans-serif';
    font-size:2vh;
    background:#E1DCD1;
    border:transparent;
    resize:none;    
}
#c-name{
    position:absolute;
    height:7vh;
    width:15vw;
}
#c-email{
    position:absolute;
    height:7vh;
    width:15vw;
    top:50%;
}
#c-subject{
    position:absolute;
    height:7vh;
    width:15vw;
    top:100%;
}
#c-body{
    position:absolute;
    height:40vh;
    width:40vw;
    left:30%;
}








  
/* #0A2239 #176087 #1D84B5 #53A2BE #E1DCD1 #EDE6D9 */